# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.log

# Virtual environment
venv/
env/
ENV/
.venv/

# Pipenv
Pipfile.lock

# Poetry
.poetry/
poetry.lock

# PyInstaller
*.spec
dist/
build/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage
.coverage
coverage.xml
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints/
*.nbconvert.ipynb

# ----------------------------
# IDE / Editor
# ----------------------------

# VSCode
.vscode/

# PyCharm
.idea/

# Sublime
*.sublime-project
*.sublime-workspace

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Other
# ----------------------------
*.tmp
*.bak
*.swp
*.lock
